* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.sidenav {
    position: fixed;
    top: 20px;
    left: 10px;
    width: 130px;
    z-index: 1;
    background-color: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 1rem;
    text-decoration: none;
    font-size: 25px;
    color: #2196f3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px;
    font-size: 28px;
    padding: 0 10px;
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}